
#form {
background-color: lightblue;
border-radius: 30px;
padding: 20px 30px;
margin-top: 5%;
margin-bottom: 5%;
display: flex;
justify-content: center;
align-items: center;
}

p {
    color: red;
}

.form-label {
   margin-top: 2%;
}

.btn-primary {
    margin-top: 5%;
}

.card {
    background-color: lightblue;
    border-radius: 30px;
    padding: 20px 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

footer {
    margin-top: 3%;
    color: crimson;
    text-align: center;
}

