
#form {
background-color: lightblue;
border-radius: 30px;
padding: 20px 30px;
margin-top: 5%;
margin-bottom: 5%;

p {
    color: black;
}

.form-label {
   margin-top: 2%;
}

.btn-primary {
    margin-top: 5%;
}

.card {
    background-color: lightgreen;
   
}

footer {
    margin-top: 3%;
    color: crimson;
    text-align: center;
}

